@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/*Set height*/
html, body, #root {
  min-height: 100vh;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --clr-primary: hsl(218, 28%, 13%);
  --clr-secondary: hsl(217, 28%, 15%);
  --clr-footer: hsl(216, 53%, 9%);
  --clr-testimonial: hsl(219, 30%, 18%);
  --clr-accent-cyan: hsl(176, 68%, 64%);
  --clr-accent-blue: hsl(198, 60%, 50%);
  --clr-accent-red: hsl(0, 100%, 63%);
  --clr-neutral: hsl(0, 0%, 100%);
  --font-raleway: "Raleway", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
  --font-size-200: .70rem;
  --font-size-300: 0.875rem;
  --font-size-400: 1rem;
  --font-size-700: 1.5rem;
  --font-size-900: 3.5rem;
  --font-weight-400: 400;
  --font-weight-700: 700;
}

body {
  background-color: var(--clr-secondary);
  color: var(--clr-neutral);
  font-family: var(--font-raleway);
}

.container {
  max-width: clamp(70%, 90%, 1440px);
  margin-inline: auto;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-block: 3rem;
  gap: 3rem;
}
nav ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
nav a {
  color: var(--clr-neutral);
  text-decoration: none;
  font-size: clamp(0.8rem, 3vw, var(--font-size-400));
  white-space: nowrap;
}
nav a:hover, nav a:focus {
  font-weight: 700;
  text-decoration: underline;
}

.hero {
  position: relative;
  text-align: center;
  padding-block: 5rem;
}
.hero__illustration {
  width: 50%;
  align-self: center;
}
.hero .sub-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.hero__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.hero__group h1 {
  font-size: clamp(2rem, 4vw, var(--font-size-900));
  font-weight: var(--font-weight-700);
  max-width: 30ch;
}
.hero__group p {
  max-width: 50ch;
  font-weight: var(--font-weight-400);
}
.hero__group button {
  padding: 1rem 6rem;
  border: none;
  border-radius: 15rem;
  font-weight: var(--font-weight-700);
  background-image: linear-gradient(to right, var(--clr-accent-cyan), var(--clr-accent-blue));
  color: var(--clr-neutral);
}
.hero__group button:hover, .hero__group button:focus {
  cursor: pointer;
  background-image: none;
  background-color: var(--clr-accent-cyan);
}
.hero .wave {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
}

.features {
  background-color: var(--clr-primary);
}
.features__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
.features__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.75rem;
}
.features__card .sub-heading {
  font-size: var(--font-size-700);
  font-weight: var(--font-weight-700);
  margin-bottom: 1rem;
}

.mid {
  background-color: var(--clr-primary);
  padding-block: 3rem;
}
.mid__content p {
  margin-bottom: 1rem;
}
.mid__content h2 {
  font-size: clamp(1.25rem, 2vw, var(--font-size-900));
  font-weight: var(--font-weight-700);
  margin-block: 3rem 1.5rem;
}
.mid__content a {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  color: var(--clr-accent-cyan);
  padding-bottom: 0.25rem;
  border-bottom: 1px solid var(--clr-accent-cyan);
  text-decoration: none;
}
.mid__content a:hover, .mid__content a:focus {
  color: var(--clr-neutral);
  border-bottom: 1px solid var(--clr-neutral);
}

.testimonies {
  background-color: var(--clr-primary);
  padding-block: 4rem 20rem;
}
.testimonies .group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}
.testimonies .initial-wrapper::before {
  content: url(src/assets/bg-quotes.png);
  position: absolute;
  top: -2.9rem;
}
.testimonies .testimony {
  background-color: var(--clr-testimonial);
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 12px rgba(40, 47, 63, 0.6);
}
.testimonies .testimony .content {
  padding-bottom: 2rem;
}
.testimonies .testimony__user {
  display: flex;
  gap: 1rem;
}
.testimonies .testimony__user img {
  clip-path: circle();
  width: 40px;
}
.testimonies .testimony__user .name {
  font-weight: 600;
}
.testimonies .testimony__user .title {
  font-size: var(--font-size-200);
}

.cta {
  background-color: var(--clr-footer);
  position: relative;
}
.cta .inner-layer {
  position: absolute;
  top: -12rem;
  left: 5%;
  width: 90%;
  background-color: var(--clr-secondary);
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
}
.cta .inner-layer .sub-heading {
  font-size: var(--font-size-700);
  font-weight: var(--font-weight-700);
  padding-bottom: 1rem;
}
.cta .inner-layer input {
  margin-block: 2rem 1.5rem;
  height: 3rem;
  border: none;
  border-radius: 30px;
  padding-inline: 2rem;
  font-size: var(--font-size-300);
  width: 100%;
}
.cta .inner-layer button {
  width: 100%;
  padding-block: 0.875rem;
  border: none;
  border-radius: 30px;
  background-image: linear-gradient(to right, var(--clr-accent-cyan), var(--clr-accent-blue));
  font-weight: var(--font-weight-700);
  color: var(--clr-neutral);
  margin-top: 0.5rem;
}
.cta .inner-layer button:hover, .cta .inner-layer button:focus {
  cursor: pointer;
  background-image: none;
  background-color: var(--clr-accent-cyan);
}

.footer {
  background-color: var(--clr-footer);
  padding-block: 15rem 5rem;
}
.footer img {
  margin-block: 3rem;
}
.footer .group__location, .footer .group__email {
  display: flex;
  gap: 2rem;
}
.footer .group__contact {
  display: flex;
  gap: 2rem;
  padding-block: 1rem;
}
.footer .group span {
  padding-top: 4px;
}
.footer .group nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer .group nav ul {
  display: flex;
  flex-direction: column;
}
.footer .group__socials {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}
.footer .group__socials p {
  font-size: var(--font-size-700);
}
.footer .group__socials p:hover, .footer .group__socials p:focus {
  cursor: pointer;
  color: var(--clr-accent-cyan);
}

@media (min-width: 40em) {
  .features {
    padding-block: 10rem;
  }
  .features__cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(180px, 600px));
    place-content: center;
  }
  .mid .sub-container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
  }
  .mid .sub-container img {
    max-width: 58%;
  }
  .mid__content {
    align-self: center;
  }
  .mid__content h2 {
    max-width: 16ch;
  }
  .mid__content p {
    max-width: 55ch;
  }
  .testimonies .group {
    display: grid;
    grid-template-columns: repeat(3, minmax(180px, 600px));
    place-content: center;
    margin-block: 7rem;
  }
  .cta .inner-layer {
    top: -10rem;
    max-width: 60%;
    left: 20%;
  }
  .cta .inputs {
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
  }
  .cta .inputs button {
    max-width: 250px;
    align-self: center;
  }
  .footer .group {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
  }
  .footer .group__location p {
    max-width: 77ch;
  }
  .footer .group__contact {
    padding-block: 0 1rem;
  }
  .footer .group nav {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
  .footer .group__info {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}
@media (min-width: 640px) and (max-width: 900px) {
  .testimonies .group {
    display: flex;
    flex-direction: column;
    margin-block: 7rem;
  }
  .cta .inputs button {
    font-size: var(--font-size-200);
    padding-inline: 0.5rem;
  }
  .footer .group {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .footer .group__info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .footer .group nav {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
@media (max-width: 400px) {
  nav {
    flex-direction: column;
  }
}

/*# sourceMappingURL=index.css.map */
