@forward 'reset';
@forward './components/custom-properties';

body{
    background-color: var(--clr-secondary);
    color: var(--clr-neutral);
    font-family: var(--font-raleway);
}

@mixin flexbox($direction){
    display: flex;
    flex-direction: $direction;
}

@mixin gridcontainer($repeatCount){
    display: grid;
    grid-template-columns: repeat($repeatCount, minmax(180px, 600px));
    place-content: center;
}

.container{
    max-width: clamp(70%, 90%, 1440px);
    margin-inline: auto;
}

nav{
    @include flexbox(row);
    justify-content: space-between;
    align-items: center;
    padding-block: 3rem;
    gap: 3rem;

    & .hamburger {
        display: none;

        & button{
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }

    & ul{
        @include flexbox(row);
        gap: 2rem;
    }

    & a {
        color: var(--clr-neutral);
        text-decoration: none;
        font-size: clamp(.8rem, 3vw, var(--font-size-400));
        white-space: nowrap;

        &:hover, &:focus{
            font-weight: 700;
            text-decoration: underline;
        }
    }
}

.hero{
    position: relative;
    text-align: center;
    padding-block: 5rem;

    &__illustration{
        width: 50%;
        align-self: center;
    }

    & .sub-container{
        @include flexbox(column);
        gap: 3rem;
    }

    &__group{
        @include flexbox(column);
        align-items: center;
        gap: 2rem;


        & h1{
            font-size: clamp(2rem, 4vw ,var(--font-size-900));
            font-weight: var(--font-weight-700);
            max-width: 30ch;
        }

        & p {
            max-width: 50ch;
            font-weight: var(--font-weight-400);
        }

        & button{
            padding: 1rem 6rem;
            border: none;
            border-radius: 15rem;
            font-weight: var(--font-weight-700);
            background-image: linear-gradient(to right, var(--clr-accent-cyan), var(--clr-accent-blue));
            color: var(--clr-neutral);

            &:hover, &:focus{
                cursor: pointer;
                background-image: none;
                background-color: var(--clr-accent-cyan);
            }
        }
    }

    & .wave{
        position: absolute;
        bottom: 0;
        z-index: -1;
        width: 100%;
    }
}

.features{
    background-color: var(--clr-primary);
    
    &__cards{
        @include flexbox(column);
        align-items: center;
        gap: 5rem;
    }

    &__card{
        @include flexbox(column);
        align-items: center;
        text-align: center;
        gap: 1.75rem;
        
        & .sub-heading{
            font-size: var(--font-size-700);
            font-weight: var(--font-weight-700);
            margin-bottom: 1rem;
        }
    }
}

.mid{
    background-color: var(--clr-primary);
    padding-block: 3rem;

    &__content{

        & p{
            margin-bottom: 1rem;
        }

        & h2{
            font-size: clamp(1.25rem, 2vw, var(--font-size-900));
            font-weight: var(--font-weight-700);
            margin-block: 3rem 1.5rem;
        }

        & a{
            display:inline-flex;
            gap: .5rem;
            align-items: center;
            color: var(--clr-accent-cyan);
            padding-bottom: .25rem;
            border-bottom: 1px solid var(--clr-accent-cyan);
            text-decoration: none;

            &:hover, &:focus{
                color: var(--clr-neutral);
                border-bottom: 1px solid var(--clr-neutral);
            }
        }
    }
}

.testimonies{
    background-color: var(--clr-primary);
    padding-block: 4rem 20rem;
    
    & .group{
        @include flexbox(column);
        gap: 2rem;
        position: relative;
    }

    & .initial-wrapper::before{
        content: url(src/assets/bg-quotes.png);
        position: absolute;
        top: -2.90rem;
    }

    & .testimony{
        background-color: var(--clr-testimonial);
        padding: 3rem 2rem;
        border-radius: .5rem;
        box-shadow: 1px 1px 12px rgba(40, 47, 63, 0.6);

        & .content{padding-bottom: 2rem;}

        &__user{
            display: flex;
            gap: 1rem;
            & img{
                clip-path: circle();
                width: 40px;
            }

            & .name{
                font-weight: 600;
            }

            & .title{
                font-size: var(--font-size-200);
            }
        }
    }
}

.cta{
    background-color: var(--clr-footer);
    position: relative;

    & .inner-layer{
        position: absolute;
        top: -12rem;
        left: 5%;
        width: 90%;
        background-color: var(--clr-secondary);
        padding: 2rem;
        text-align: center;
        border-radius: 10px;

        & .sub-heading{
            font-size: var(--font-size-700);
            font-weight: var(--font-weight-700);
            padding-bottom: 1rem;
        }

        & input{
            margin-block: 2rem 1.5rem;
            height: 3rem;
            border: none;
            border-radius: 30px;
            padding-inline: 2rem;
            font-size: var(--font-size-300);
            width: 100%;
        }

        & button{
            width: 100%;
            padding-block: .875rem;
            border: none;
            border-radius: 30px;
            background-image: linear-gradient(to right, var(--clr-accent-cyan), var(--clr-accent-blue));
            font-weight: var(--font-weight-700);
            color: var(--clr-neutral);
            margin-top: .5rem;

            &:hover, &:focus{
                cursor: pointer;
                background-image: none;
                background-color: var(--clr-accent-cyan);
            }
        }
    }
}

.footer{
    background-color: var(--clr-footer);
    padding-block: 15rem 5rem;

    & img{margin-block: 3rem;}

    & .group{
        &__location, &__email{
            display: flex;
            gap: 2rem;
        }

        &__contact{
            display: flex;
            gap: 2rem;
            padding-block: 1rem;
        }

        & span{
            padding-top: 4px;
        }

        & nav{
            @include flexbox(column);
            align-items: flex-start;

            & ul{@include flexbox(column);}
        }

        &__socials{
            @include flexbox(row);
            gap: 1rem;
            justify-content: center;

            & p{
                font-size: var(--font-size-700);
                
                &:hover, &:focus{
                    cursor: pointer;
                    color: var(--clr-accent-cyan);
                }
            }
        }
    }
}


//Signin modal
.modal{
    position: fixed;
    inset: 0;
    margin: auto;
    z-index: 1;
    width: 90vw;
    background-color: hsl(44, 12%, 92%);
    background-image: url('src/assets/illustration-intro.png');
    background-repeat: no-repeat;
    background-position: center -50px;
    box-shadow: 0 0 200vw black;
    padding: 3rem 2rem;
    border-radius: 1rem;
    pointer-events: all;

    &.wrapper{
        position: relative;
    }

    & button[type="button"]{
        position: absolute;
        top: 4rem;
        right: 5rem;
        margin: auto;
        z-index: 999;
        max-height: 2rem;
        background-color: transparent;
        border: 0;
        cursor: pointer;
    }

    & h2{
        font-size: clamp(1rem, 4vw ,var(--font-size-900));
        font-weight: var(--font-weight-700);
        line-height: 1.2;
    }
    & p{
        font-size: .875rem;
        padding-bottom: 2.5rem;
    }

    &__form{
        &--group{
            & label{
                position:absolute;
                left:-10000px;
                top:auto;
                width:1px;
                height:1px;
                overflow:hidden;
            }

            & input{
                position: relative;
                margin-bottom: 2rem;
                padding: 1rem;
                border: 1px solid #333;
                box-shadow: 5px 7px 0 rgba(0 0 0 / .7);
                width: 100%;
                opacity: .9;
            }
        }

        & .checkbox{
            & input{
                margin-right: .75rem;
            }

            & label{
                font-size: var(--font-size-300);
                font-weight: var(--font-weight-700);
                & span{
                    text-decoration: underline;
                    font-weight: var(--font-weight-700);
                    cursor: pointer;
                }
            }
        }

        & button{
            padding: .35rem 2rem;
            margin-top: 1rem;
            border: 0;
            background-image: linear-gradient(70deg, var(--clr-footer), var(--clr-accent-blue));
            font-weight: var(--font-weight-700);
            box-shadow: 3px 5px 0 black;
            transform: translateY(.25rem);
            color: var(--clr-neutral);
            transition: box-shadow 200ms ease-in-out, transform 200ms linear;
            &:hover, &:focus, &:active{
                box-shadow:none;
                transform: translateY(0);
                opacity: .8;
            }
        }
    }

    & .exit{
        padding-top: 2rem;
        & a{color: var(--clr-accent-red);}
    }
}

//Disables background actions
.disabled{
    overflow: hidden;
    touch-action: none;
    pointer-events: none;
}

/*Hide label on screen but not for screen readers*/
.hidden{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

@media(min-width: 40em){
    .features{
        padding-block: 10rem;
        &__cards{
            @include gridcontainer(2);
        }
    }

    .mid{
        & .sub-container{
            @include flexbox(row);
            gap: 3rem;
            justify-content: center;

            & img{
                max-width: 58%;
            }
        }

        &__content{
            align-self: center;

            & h2{max-width: 16ch;}

            & p{max-width: 55ch;}
        }
    }

    .testimonies {
        & .group{
            @include gridcontainer(3);
            margin-block: 7rem;
        }
    }

    .cta{
        & .inner-layer{
            top: -10rem;
            max-width: 60%;
            left: 20%;
        }

        & .inputs{
            display: flex;
            gap: 1rem;
            padding-top: 2rem;

            & button{
                max-width: 250px;
                align-self: center;
            }
        }
    }

    .footer{

        & .group{
            @include flexbox(row);
            gap: 2rem;
            justify-content: center;

            &__location p{
                max-width: 77ch;
            }

            &__contact{
                padding-block: 0 1rem;
            }

            & nav{
                @include flexbox(row);
                padding: 0
            }
        }

        & .group__info{
            @include flexbox(row);
            gap: 2rem;
        }

        
    }

    .modal{width: clamp(500px, 50vw, 60%)}
}

@media(min-width: 640px) and (max-width: 900px){
    .testimonies {
        & .group{
            @include flexbox(column);
            margin-block: 7rem;
        }
    }

    .cta{
        & .inputs{
            & button{
                font-size: var(--font-size-200);
                padding-inline: .5rem;
                
            }
        }
    }

    .footer{

        & .group{
            @include flexbox(column);
            gap: 2rem;

            &__info{
                @include flexbox(column);
                gap: 2rem;
            }

            & nav{
                @include flexbox(column);
                padding: 0
            }
        }
        
    }
}

@media(max-width: 550px){
    nav{
        position: relative;

        & button{
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

        & .hamburger{
            transform: translateX(20rem);
            transition: transform 300ms linear;
            position: absolute;
            display: unset;
            right: 0;
            pointer-events: all;
            display: grid;
            grid-template-rows: 70px 1fr;
            gap: 2rem;
            position: fixed;
            inset: 0 0 auto auto;
            min-height: 100vh;
            width: clamp(20%, 50vw, 50%);
            padding: 2rem 2rem;
            background-image: linear-gradient(to top, var(--clr-neutral), var(--clr-footer));
            z-index: 1;

            & button{justify-self: right;}

            & li {
                margin-block: 2rem;
                & a{
                    font-size: clamp(var(--font-size-200), 1.15rem, var(--font-size-700));
                    
                }                   
            }

            &.active{
                transform: translateX(0);
                box-shadow: 0 0 0 150vw rgba(0 0 0 / .3);       

                
            }
        }

        & .links{display: none;}

        & ul{display: block;}
    }
}

@media(min-width: 551px){nav .hamburger-icon{display: none;}}